@model PingPong.Models.GameTeamSelectionVM

@{
    ViewData["Title"] = "Create";
    IEnumerable<Team> TeamsWithSelectedSize;
    if (Model.TeamsSize == 1)
    {
        TeamsWithSelectedSize = Model.SingleTeams;
    } else
    {
        TeamsWithSelectedSize = Model.DoubleTeams;
    }
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                Teams size:
                @if(Model.TeamsSize == 1)
                {
                    @:<input asp-for="TeamsSize" type="radio" name="TeamsSize" checked="checked" value=1 /> 1 Player
                    @:<input asp-for="TeamsSize" type="radio" name="TeamsSize" value=2 /> 2 Players
                } else
                {
                    @:<input asp-for="TeamsSize" type="radio" name="TeamsSize" value=1 /> 1 Player
                    @:<input asp-for="TeamsSize" type="radio" name="TeamsSize" checked="checked" value=2 /> 2 Players
                }
            </div>
            <div class="form-group">
                Team one:
                <select asp-for="SelectedTeamOneId" asp-items="@(new SelectList(TeamsWithSelectedSize,nameof(Team.Id),nameof(Team.Name),Model.SelectedTeamOneId))" class="team-selector">
                    <option value="">Select Team</option>
                </select>
                <span asp-validation-for="SelectedTeamOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamOneScore" class="control-label"></label>
                <input asp-for="TeamOneScore" class="form-control" />
                <span asp-validation-for="TeamOneScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                Team Two:
                <select asp-for="SelectedTeamTwoId" asp-items="@(new SelectList(TeamsWithSelectedSize,nameof(Team.Id),nameof(Team.Name),Model.SelectedTeamTwoId))" asp- class="team-selector">
                    <option value="">Select Team</option>
                </select>
                <span asp-validation-for="SelectedTeamTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamTwoScore" class="control-label"></label>
                <input asp-for="TeamTwoScore" class="form-control" />
                <span asp-validation-for="TeamTwoScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="application/json" data-role="js-args">
        @Html.Raw(System.Text.Json.JsonSerializer.Serialize(new { SingleTeams = Model.SingleTeams, DoubleTeams = Model.DoubleTeams }))
    </script>
    <script src="~/js/games/team-selector.js"></script>
}
