@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pin-Pong Game Tracker</h1>
    <ul>
        <li><a asp-controller="Players" asp-action="Index">Players</a></li>
        <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
    </ul>
</div>
